<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Android Push SMS</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/autocompleter.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            <a class="brand" href="#">Push SMS</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="howto.html">How To</a></li>
                    <li><a href="#contact">Comments</a></li>
                    <li><a href="#contact">Donations</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="hero-unit">
            <div class="container">
                <div class="row">
                    <div class="span3 offset1">
                        <img src="images/logo.png" alt="Android Push SMS Logo" id="logo">
                    </div>
                    <div class="span8">
                        <h1>Push SMS</h1>
                        <p>Making your SMS messaging on Android a breeze.</p>
                        <p class="btn" data-controls-modal="sms-modal" data-backdrop="true" data-keyboard="true">Send SMS now</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="features row">
            <div class="span4">
                <h2>Android</h2>
                <p>
                    <img src="images/android.png" alt="" style="float:left " width="50px">
                    Install Push SMS Android application from Android Market. Register the device with downloaded application. Once registered, you will get an invitation on GTalk from <strong>pushcontacts@appspot.com</strong>. Accept the invitation and you are ready to roll.
                    <p><a href="https://market.android.com/details?id=sg.macbuntu.android.pushcontacts" class='btn' target='_blank'>Install</a></p>
                </p>
            </div>
            <div class="span4">
                <h2>GTalk</h2>
                <p>
                    <img src="images/gtalk.png" alt="" style="float:left " width="50px">
                    Receive your incoming SMS through GTalk. You can send replies via GTalk as well. With <strong>Push SMS</strong>, sending SMS feels just like chatting. Forget about using the touch screen to compose your SMS.
                </p>
            </div>
            <div class="span4">
                <h2>Chrome Extension</h2>
                <p>
                    <img src="images/chrome.png" alt="" style="float:left " width="50px">
                    You can also install a Chrome Extension from Chrome Web Store. Send your SMS in a blink of an eye with your Chrome browser. This also allows you to receive HTML5 notifications.
                    <p><a href="https://chrome.google.com/webstore/detail/nlcmodfnhljghhpgifgponfoibimnlhh" class='btn' target='_blank'>Install</a></p> 
                </p>
            </div>
        </div>

        <div class="features row">
            <div class="span4">
                <h2>Email</h2>
                 <span class="label">In development</span>
                <p>
                    <img src="images/gmail.png" alt="" style="float:left " width="50px">
                    You can enable the app to forward SMS to your email if you were not logged into GTalk
                </p>
            </div>
        </div>

    <hr>

    <footer>
        <div>
            <p>
                Designed with 
                <a href="http://twitter.github.com/bootstrap/" target='_blank'>Bootstrap.</a>
                <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
                alt="Powered by Google App Engine" class="right"/>
            </p> 
        </div>
    </footer>

    </div> <!-- .container -->
  </body>
</html>
